h1{
    text-align: center;
    padding: 23px;
    font-family: 'Charmonman', cursive;
}
body{
    background-image: url("../images/background.jpg");
    background-size: 100%;;    
}
div.container{
    margin-top: 10px;
}
p.text-white{
    display: inline-block;
    font-size: 150%;
    font-family: 'Indie Flower', cursive;
    padding: 10px;
}
p.text-primary{
    display: inline-block;
    font-size: 200%;
    font-family: 'Indie Flower', cursive;
    padding: 5px;
}
